<% include ./partials/header.ejs%>

<h1 class= "h1form"> Sign Up!</h1>

<div class = "formposition">
    <form action="/register" method=POST>
        <input class="form-control form-group"  type="text" placeholder="username" name="username"></input>
        <input class="form-control form-group" type="password" placeholder="password" name="password"></input>
        <button class="btn btn-primary btn-lg btn-block" >Sign Up!</button>
    </form>
</div>


<% include ./partials/footer.ejs%>