/*all campingrounds page's and individual camppground page's foto styling */
.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full {
    padding: 9px;
}
.deleteForm{
    display: inline;
}

/*HTML-formstyles*/
.h1form {
    text-align:center
}

.formposition {
    width:30%; 
    margin: 30px auto; 
}